extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus luctus ligula vitae dictum. Nulla at justo molestie, blandit dolor sagittis, maximus odio. Maecenas congue enim in aliquet mollis. Proin in metus luctus, interdum justo non, sodales dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis vulputate nibh, sit amet accumsan diam elementum imperdiet. Nam quis blandit arcu. Vestibulum in tellus et neque tincidunt egestas. Donec consequat mollis egestas. Nam dapibus lectus ac tortor sollicitudin sollicitudin. Aliquam tincidunt tellus in ipsum commodo luctus. Sed molestie, velit in egestas aliquet, neque massa posuere dui, quis faucibus nibh odio eget sem.

                p In blandit sapien eu commodo efficitur. Phasellus vel mattis tellus. Ut et tristique ipsum. Mauris non varius urna. Aenean dui ex, hendrerit sit amet venenatis eu, sagittis nec sem. In vitae rutrum ligula. Maecenas auctor mollis ligula, eu porta ipsum malesuada et. Vestibulum fermentum, ante a accumsan porta, massa velit vulputate ligula, vel mattis ipsum nisl ac eros. Nulla elementum nec tellus in auctor. Cras at turpis nec mauris convallis lobortis. Quisque lobortis neque eu justo aliquet, venenatis consequat nisl dapibus. In ultrices enim a finibus venenatis. Etiam aliquet sapien at mauris porttitor, at auctor lacus interdum. Nulla dolor tellus, tempus non gravida eu, aliquet sed metus. In consequat arcu lorem, et consectetur nisi mollis id. Mauris rutrum erat vel diam feugiat placerat a sed elit.

                p Nam vitae arcu malesuada, eleifend leo ut, fringilla diam. Aenean leo ipsum, blandit in purus non, tincidunt suscipit neque. Nunc vel massa tellus. Quisque ornare sodales quam vel porttitor. Vivamus est massa, posuere a eros in, vestibulum pretium odio. Donec sapien nisl, aliquet non interdum vitae, hendrerit a massa. Suspendisse sit amet lacus vitae nisi dignissim volutpat sit amet vitae orci.

    .listado-iconos
        .container.mt-5.py-5.text-xl-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus luctus ligula vitae dictum. Nulla at justo molestie, blandit dolor sagittis, maximus odio.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2 mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus luctus ligula vitae dictum. Nulla at justo molestie, blandit dolor sagittis, maximus odio.
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2 mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus luctus ligula vitae dictum. Nulla at justo molestie, blandit dolor sagittis, maximus odio.